.hero-container {
  background-image: url("../../../images/mobile/image-hero.jpg");
  width: 100%;
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -100px;
  color: white;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  border: 2px white solid;
  margin: 0px 15px;
}

.hero-text h1 {
  font-size: 2.8rem;
  overflow-wrap: break-word;
  line-height: auto;
  margin: 20px;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

.containers {
  margin: 60px 15px;
  display: flex;
  flex-direction: column;
}

.info-img {
  background-image: url("../../../images/mobile/image-interactive.jpg");
  width: auto;
  height: 32vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.info-text-container {
  text-align: center;
  padding: 25px 25px;
}

.info-text-container h2 {
  margin-top: 20px;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 2.2rem;
}

.info-text-container p {
  font-family: "Alata", sans-serif;
  font-size: 1rem;
  color: hsl(0, 0%, 55%);
  line-height: 1.7rem;
}

/* creations */
.creations {
  margin: 20px 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 190px;
}

.creations h2 {
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 2.3rem;
  margin: 0px;
  padding: 0px;
}

.creations-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex-wrap: wrap;
  width: 100%;
}

.creation-bg {
  width: 100%;
  height: 20vh;
  background-size: cover !important;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  margin: 10px 0px;
}

.creation-bg h3 {
  width: 42%;
  height: 35%;
  line-height: 1.7rem;
  font-size: 1.7rem;
  color: white;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 20px;
}

.special h3 {
  width: 32%;
}
.deep-earth-m {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    url("../../../images/mobile/image-deep-earth.jpg");
}

.night-arcade-m {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    url("../../../images/mobile/image-night-arcade.jpg");
}

.soccer-team-m {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    url("../../../images/mobile/image-soccer-team.jpg");
}

.grid-m {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    url("../../../images/mobile/image-grid.jpg");
}

.vr-m {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    url("../../../images/mobile/image-from-above.jpg");
}

.borealis-m {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    url("../../../images/mobile/image-pocket-borealis.jpg");
}

.fisheye-m {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    url("../../../images/mobile/image-fisheye.jpg");
}

.curiosity-m {
  background-image: url("../../../images/mobile/image-curiosity.jpg");
}

.see-all-button {
  background-color: transparent;
  border: black 2px solid;
  font-size: 1.2rem;
  padding: 10px 20px;
  font-family: "Alata", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  width: 50%;
  letter-spacing: 3px;
  position: absolute;
  bottom: -90px;
  left: 25%;
}

@media only screen and (min-width: 1000px) {
  .hero-container {
    background-image: url("../../../images/desktop/image-hero.jpg");
    height: 95vh;
    width: 100%;
    background-position: top;
    background-size: cover;
    justify-content: flex-start;
  }

  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 35%;
    margin: 0px 140px;
    padding: 20px;
  }

  .hero-text h1 {
    font-size: 4.9rem;
  }

  .containers {
    flex-direction: row;
    justify-content: baseline;
    margin: 140px;
    height: auto;
    position: relative;
  }

  .info-img {
    background-image: url("../../../images/desktop/image-interactive.jpg");
    width: 70%;
    height: 70vh;
    background-size: 80%;
  }

  .info-text-container {
    margin-top: 20px;
    text-align: left;
    position: absolute;
    width: 44%;
    background-color: white;
    right: 2%;
    bottom: 0;
    padding: 60px 60px;
  }
  .creations {
    margin: 30px 140px;
    position: relative;
    display: inline-block;
    margin-bottom: 120px;
  }

  .creations-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    flex-wrap: wrap;
    margin: 0;
  }

  .creation-bg {
    width: 22%;
    margin: 0;
    margin-bottom: 60px;
    height: 70vh;
    background-size: cover !important;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    position: relative;
  }

  .creation-bg::after {
    content: "\a";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
  }

  .creation-bg:hover::after {
    opacity: 1;
  }

  .creation-bg:hover h3 {
    transition: all 1s;
    -webkit-transition: all 1s;
    z-index: 10;
    color: hsl(0, 0%, 0%) !important;
  }

  .creation-bg h3 {
    width: 55%;
    height: auto;
    line-height: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 20px;
    word-wrap: break-word;
  }
  .special h3 {
    width: 33%;
  }

  .info-text-container h2 {
    font-size: 2.7rem;
  }

  .info-text-container p {
    font-size: 1.17rem;
    padding-bottom: 5px;
  }

  .deep-earth-m {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
      url("../../../images/desktop/image-deep-earth.jpg");
  }

  .night-arcade-m {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
      url("../../../images/desktop/image-night-arcade.jpg");
  }

  .soccer-team-m {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
      url("../../../images/desktop/image-soccer-team.jpg");
  }

  .grid-m {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
      url("../../../images/desktop/image-grid.jpg");
  }

  .vr-m {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
      url("../../../images/desktop/image-from-above.jpg");
  }

  .borealis-m {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
      url("../../../images/desktop/image-pocket-borealis.jpg");
  }

  .fisheye-m {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
      url("../../../images/desktop/image-fisheye.jpg");
  }

  .curiosity-m {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
      url("../../../images/desktop/image-curiosity.jpg");
  }

  .see-all-button {
    font-size: 1.5rem;
    position: inherit;
    padding: 0px 60px;
    width: auto;
  }
  .see-all-button:hover {
    background-color: black;
    color: white;
  }

  .title-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    margin-bottom: 60px;
    height: 50px;
    width: 100%;
  }

  .title-button h2 {
    font-size: 3rem;
    font-weight: 700;
  }
}
