.header-container {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  margin: 20px 15px;
  height: 40px;
  position: relative;
}

.logo-div {
  width: auto;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon-container svg {
  position: relative;
  z-index: 10;
  font-weight: 200;
  scale: 1.2;
  margin-top: -8px;
}

.nav-mobile {
  background-color: #000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
}

li {
  list-style: none;
  color: #fff;
  list-style: none;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Alata", sans-serif;
}
.nav-mobile-con {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-laptop {
  width: 35%;
  display: flex;
}
.nav-laptop-con {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  color: white;
  justify-content: space-between;
}

@media only screen and (min-width: 1000px) {
  .header-container {
    margin: 0px 140px;
    justify-content: baseline;
    padding-top: 60px;
  }

  li {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: capitalize;
  }
  .icon-container {
    visibility: hidden;
  }
}
